nav {
    background-color: rgb(8, 115, 129);
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
c{
    color: #000;
    size: 10cm;
    
}
a{
    color: #000;
    text-decoration: none;
    padding: 0 10px;
    letter-spacing: 0.8px;
    position: relative;
}
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: aquamarine;
}
a:hover:after {
    width: 100%;
}
b{
    color: #000;
    text-decoration: none;
    padding: 0 10px;
    letter-spacing: 0.10px;
    position: relative;
    overflow: hidden;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.image-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping */
  }
  
  .image-container img {
    width: 20%; /* Ensure images fill container */
    height: 20%;
    display: inline-block; /* Display images in a row */
  }